:root {
  --oyen-custom-color: #fb8c00;
}
  .is-oyen {
    color: var(--oyen-custom-color);
  }
  .is-oyen-background {
    background-color: var(--oyen-custom-color);
    color:#ffffff
  }

  .is-oyen:hover {
    color: #ffffff; /* Change text color on hover */
  }
  .is-oyen-background:hover {
    background-color: #ff9f36; /* Change background color on hover */
    color:#ffffff;
  }
  
  .with-border {
    border-right: 2px solid #eef3f7;
    
    /* color: #14a7a0; */
    /* background-color: #695cfe; */
  }
  .checkbox .check.is-oyen {
    background-color: var(--oyen-custom-color);
  }
  
  .checkbox .control-label.is-oyen {
    color: var(--oyen-custom-color);
  }
  @media screen and (max-width: 768px) {
    .media-content {
      overflow-x: auto;
    }
    #big-line-chart {
      width: 100%; /* Adjust as needed */
    }
  }
  .menu {
    font-size: 1rem;
  }
  .menu.is-small {
    font-size: 0.75rem;
  }
  .menu.is-medium {
    font-size: 1.25rem;
  }
  .menu.is-large {
    font-size: 1.5rem;
  }
  
  .menu-list {
    line-height: 1.25;
  }
  .menu-list a {
    border-radius: 0;
    color: #727c8f;
    display: block;
    padding: 0.5rem 0;
    padding-left: 20px;
  }
  .menu-list a:hover {
    display: flex;
    align-items: center;
    /* background-color: #695cfe; */
    color:#695cfe;
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 6px;
    padding-left: 10px;
  }
  .menu-list a.is-active {
    display: flex;
    align-items: center;
    background-color: #695cfe;
    color: white;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 6px;
    padding-left: 10px;
    
  }
  /* sidebar edit */
  
  /* .menu-list a.is-active::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 15px; 
    right: 15px;
    bottom: 0;
    background-color: #695cfe;
    opacity: 0.2;
    z-index: -1;
  } */
  
  .menu-list li ul {
    border-left: 1px solid hsl(0deg, 0%, 86%);
    margin: 0.75em;
    padding-left: 0.75em;
  }
  
  .menu-label {
    color: #666f81;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .menu-label:not(:first-child) {
    margin-top: 1em;
  }
  .menu-label:not(:last-child) {
    margin-bottom: 1em;
  }


  .custom-column {
    display: flex;
    flex-direction: column;
  }
  
  .custom-column .card {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  